.appBar{
    padding: 0.5rem 1rem;
    background-color: var(--sidebar-bg);
    /* margin: 1rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:8px;
    max-height: 56px;
    position: sticky;
    top:0;
}
.actions{
    display: flex;
    gap:8px;
    justify-content: flex-end;
    align-items: center;
}
.cta{
    color: var(--cta);
    font-size: 2rem;
    font-weight: bold;
}
.popOver{
    position: absolute;
    top:50px;
    background-color: var(--sidebar-bg);
    border: 2px solid red;
    color: var(--white);
    width: 250px;
}